/*头部样式开始*/
.header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    color: #b0b0b0;
    font-size: 12px;
}
.wrap{
    width:1226px ;
    margin:0 auto;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.header li{
    position: relative;
    float: left;
}
.header a{
    color: #b0b0b0;
}
.header a:hover{
    color: #fff;
}
.header span{
    color: #424242;
    margin: 0 3.6px;
}
.cart{
    position: relative;
    margin-left: 25px;
    width: 120px;
    height: 40px;
    background-color: #424242;
    cursor: pointer;
    transition: all .2s;
}
.cart i{
    margin-right: 4px;
    font-weight: 900;
}
.cart:hover{
    background-color: #fff;
}
.cart:hover a{
    color: #ff6700;
}
/*购物车*/
.cart-list{
    z-index: 850;
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    color: #424242;
    transition: all .3s;
    /*高度设置为0  文字溢出*/
    overflow: hidden;
}
.cart:hover>.cart-list{
    height: 100px;
    line-height: 100px;
}
/*下载app*/
.download{
    z-index: 900;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    width: 124px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px #ccc;
    overflow: hidden;
    transition: all .3s;
}
.download img{
    width: 90px;
    margin: 18px 0 12px;
}
.download p{
    color: #333;
    font-size: 14px;
    line-height: 14px;
}
.header-left>li:hover>.download{
    height: 148px;
}
/*三角形*/
.triangle{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.header-left>li:hover>.triangle{
    display: block;
}
/*头部样式结束*/
/*导航样式开始*/
.nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.logo{
    width: 62px;
    height: 56px;
    float: left;
    margin-top: 22px;
    text-align: left;
}
.search{
    position: relative;
    width: 296px;
    height: 50px;
    float: left;
    margin-top:25px ;
}
.nav-bar{
    width: 868px;
    height: 100px;
    float: left;
    padding-left: 172px;
    box-sizing: border-box;
}
.logo img{
    width: 140px;
}
.logo img:hover{
    transform: translateX(3px);
}
.nav-bar>ul>li{
    height: 100px;
    float: left;
    padding: 38px 10px;
    box-sizing: border-box;
}
.nav-bar>ul>li>a:hover{
    color: #ff6700;
}
.search>input{
    float: left;
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-right: none;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    transition: all .2s;
}
.search>a{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 24px;
    color: #616161;
    line-height: 48px;
    transition: all .2s;
}
.search>a:hover{
    background-color: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.search>input:hover,.search>input:hover+a{
    border-color: #b0b0b0;
}
.search>input:focus,.search>input:focus+a{
    border-color: #ff6700;
}
/*下拉列表*/
.nav-bar-list{
    z-index: 850;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 229px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,.18);
    display: none;
}
.nav-bar li:hover>.nav-bar-list{
    display: block;
}
.nav-bar-list li{
    float: left;
    width: 204px;
    padding-top: 35px;
}
.img-box{
    width: 100%;
    height: 110px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.name1,.price1{
    font-size: 12px;
    line-height: 20px;
}
.price1{
    color: #ff6700;
}
.nav-bar-list li:last-child .img-box{
    border-right: none;
}
/*搜索框*/
.search-list{
    z-index: 800;
    position: absolute;
    top: 50px;
    left: 0;
    width: 246px;
    height: 241px;
    border: 1px solid #ff6700;
    border-top: none;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
}
.search>input:focus~.search-list{
    display: block;
}
.search-list>a{
    width: 243px;
    height: 30px;
    padding: 6px 15px;
    display: block;
    box-sizing: border-box;
    color: #424242;
    font-size: 12px;
    text-align: left;
}
/*导航样式结束*/
/*banner样式开始*/
.banner{
    width: 100%;
    height: 460px;
}
.banner-box{
    width: 1226px;
    height: 460px;
    background-image: url("../images/lunbo1.jpg");
    background-size: 100%;
    animation: banner 14s linear infinite;
}
.banner-box:hover{
    animation-play-state: paused;
}
@keyframes banner {
    0%{
        background-image: url("../images/lunbo1.jpg");
    }
    20%{
        background-image: url("../images/lunbo2.jpg");
    }
    40%{
        background-image: url("../images/lunbo3.jpg");
    }
    60%{
        background-image: url("../images/lunbo4.jpg");
    }
    80%{
        background-image: url("../images/lunbo5.jpg");
    }
    100%{
        background-image: url("../images/lunbo6.jpg");
    }
    120%{
        background-image: url("../images/lunbo7.jpg");
    }
}
/*滑动门*/
.banner>.wrap{
    position: relative;
}
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,.6);
}
.slide>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
}
.slide>ul>li:hover{
    background-color: #ff6700;
}
.slide>ul>li>a{
    color: #fff;
    font-size: 14px;
}
.slide i{
    float: right;
    margin-right: 20px;
    font-size: 12px;
}
.slide-list{
    z-index: 700;
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 456px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    padding-top: 2px;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.slide li:hover>.slide-list{
    display: block;
}
.slide-list>ul{
    width: 248px;
    float: left;
}
.slide-list li{
    width: 100%;
    height: 76px;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
}
.slide-list img{
    margin-right: 12px;
}
.slide-list span{
    line-height: 40px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-list li:hover span{
    color: #ff6700;
}
.slide-list1{
    width: 744px;
}
/*左右箭头*/
.prev,.next{
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    width: 41px;
    height: 69px;
    background-image: url("../images/icon-slides.png");
    cursor: pointer;
}
.prev{
    left: 234px;
    background-position: -83px;
}
.next{
    right: 0;
    background-position: -124px;
}
.prev:hover{
    background-position: 0;
}
.next:hover{
    background-position: -42px;
}
/*banner样式结束*/
/*广告样式开始*/
.adv{
    width: 100%;
    height: 170px;
    margin: 14px 0 26px;
}
.adv-aside{
    width: 234px;
    height: 170px;
    padding: 3px;
    box-sizing: border-box;
    background-color: #5f5750;
    float: left;
}
.adv-img{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14.6px;
    transition: all .2s linear;
}
.adv-img img{
    width: 100%;
}
.adv-img:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.adv-aside li{
    position: relative;
    float: left;
    width: 76px;
    height: 82px;
    padding: 19px 0;
    box-sizing: border-box;
}
.adv-aside i{
    display: block;
    font-size: 22px;
    margin-bottom: 4px;
}
.adv-aside a{
    display: block;
    color: #fff;
    font-size: 12px;
    opacity: .7;
    transition: all .2s;
}
.adv-aside a:hover{
    opacity: 1;
}
.row::after,.col::before{
    position: absolute;
    content:"";
    background-color: #665e57;
}
.row::after{
    bottom: 0;
    left: 6px;
    height: 1px;
    width: 64px;

}
.col::before{
    top: 6px;
    right: 0;
    width: 1px;
    height: 70px;
}

/*广告样式结束*/
/*主体样式开始*/
.container{
    width: 100%;
    background-color: #f5f5f5;
    padding: 4px 0 12px;
    overflow: hidden;
}
/*主体样式结束*/
/*天选样式开始*/
.home-banner-box{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}
.title{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
}
.more{
    float: right;
    color: #424242;
    font-size: 16px;
}
.more:hover{
    color: #ff6700;
}
.more>i{
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 4px;
    background-color: #b0b0b0;
    border-radius: 50%;
    line-height: 12px;
    color: #fff;
    margin-left: 8px;
    transition: all .4s;
}
.more:hover>i{
    background-color: #ff6700;
}
.home-box{
    width: 100%;
    height: 614px;
}
.home-box-left{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
.home-box-right{
    width: 992px;
    height: 614px;
    float: left;
}
.items{
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}
.items:hover,.home-box-left1:hover,.last-items>div:hover,.video-items:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translateY(-2px);
}
.img1{
    width: 160px;
    margin-top: 20px;
    margin-bottom: 18px;
}
.name2,.desc2{
    width: 214px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name2{
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 2px;
}
.desc2{
    height: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #b0b0b0;
}
.price2{
    color: #ff6700;
    font-size: 14px;
}
.price2>del{
    color: #b0b0b0;
    margin-left: 7px;
}
/*天选样式结束*/
/*ROG样式开始*/
.home-box-left .items{
    margin-left: 0;
}
.last-items{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
}
.last-items>div{
    width: 234px;
    height: 143px;
    background-color: #fff;
    transition: all .2s linear;
}
.last-items>div:first-child{
    margin-bottom: 14px;
}
.items-text{
    width: 94px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
}
.items-text>p:nth-child(2){
    font-size: 12px;
    color: #ff6700;
    margin-top: 5px;
}
.last-items img{
    float: right;
    width: 80px;
    margin: 32px 20px 0 0;
}
/*ROG样式结束*/
/*视频样式开始*/
.video-items{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
    transition: all .2s linear;
}
.video-items:last-child{
    margin-right: 0;
}
.video-img{
    position: relative;
    width: 100%;
    height: 180px;
}
.video-items p{
    width: 268px;
    height: 21px;
    margin: 28px auto 6px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    transition: all .2s;
}
.play>span{
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: 4px auto;
}
.video-img:hover>.play{
    background-color: #ff6700;
    border-color: #ff6700;
}

/*视频样式结束*/
/*页脚样式开始*/
.site-footer{
    width: 100%;
    height: 332px;
    background-color: #fff;
}
.site-info{
    width: 100%;
    height: 206px;
    padding: 30px 0;
    background-color: #fafafa;
}
.footer-service{
    width: 100%;
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;
}
.footer-service li:last-child{
    border-right: none;
}
.footer-service a{
    color: #616161;
    transition: all .2s;
}
.footer-service a:hover{
    color: #ff6700;
}
.footer-service i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-links{
    width: 100%;
    height: 172px;
    padding: 40px 0;
    font-size: 14px;
    color: #424242;
}
.footer-links>ul{
    float: left;
    width: 160px;
    text-align: left;
}
.footer-links a{
    color: #757575;
    font-size: 12px;
}
.footer-links a:hover{
    color: #ff6700;
}
.footer-links li{
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
}
.footer-links li:first-child{
    height: 17px;
    line-height: 17.5px;
    margin: -1px 0 26px;
}
.contact{
    float: right;
    width: 251px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
}
.tel{
    color: #ff6700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}
.time{
    color: #616161;
    font-size: 12px;
    margin-bottom: 5px;
}
.contact .kefu{
    margin: 0 auto;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    display: block;
    color: #ff6700;
    line-height: 28px;
    font-size: 12px;
    transition: all .4s;
}
.contact .kefu:hover{
    background-color: #ff6700;
    color: #fff;
}
.follow{
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
}
.follow>span{
    position: relative;
    top: 7px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100%;

}
.sites{
    float: left;
    width: 1160px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
}
.sites>p:first-child>a{
    color: #757575;
}
.sites>p{
    color: #b0b0b0;
}
.sites>p:nth-child(2)>a{
    color: #b0b0b0;
}
.sites>p>a:hover{
    color: #ff6700;
}
.sites img{
    height: 28px;
}
.slogan{
    margin-top: 30px;
}
/*页脚样式结束*/











